<% if user.todos.empty? %>
  <p>You have no task yet... Add one below!</p>
<% else %>
  <ul>
    <% user.todos.each do |todo| %>
      <li class="d-flex align-items-baseline" >
        <%= simple_form_for todo, method: :put, remote: true do |f| %>
          <%= f.check_box :done, data: { action: "change->update-todo#submit" } %>
        <% end %>
        
        <div> 
          <p id="test" data-action="click->update-todo#showdetails" data-update-todo-id-param="<%= todo.id %>" style="cursor: pointer"><%= todo.title %></p>
          <ul class="d-none">
            <li>Due date: <%= todo.due_date.month %>/<%= todo.due_date.day %>/<%= todo.due_date.year %></li>
            <li>Description: <%= todo.description %></li>
          </ul>
        </div>

        <p><%= link_to "^", todo_move_higher_path(todo) %></p>

        <p><%= link_to "v", todo_move_lower_path(todo) %></p>
      </li>
    <% end %>
  </ul>
<% end %>

